@charset "utf-8";
/* CSS Document */
body{
    margin: 0px;
    padding: 0px;
    background-color: #161616;

}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
#main{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background: #D0ECE9;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: calibri;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 50px;
    padding-right: 30%;
    background-color: #FDFEFE  ;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.5);
    z-index: 1;
}
.menu{
    display: flex;
}
.menu li a{
    padding: 10px 15px;
    color: #6c707c;
    font-size: 12px;
}
.logo{
    padding-left: 50px;
    width: 130px;
}
.menu li a:hover{
    background-color: #292929;
    color: #ffffff;
    font-weight: 700;
    transition: all ease 0.4s;
}
.active{
    background-color: #292929;
    color: #ffffff;
    font-weight: 700;
    transition: all ease-in 0.4s;
}
.name{
    font-family: calibri;
    width: 535px;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20%,-50%);
}
.name p:nth-child(1),
.name .details{
    color: #6c707c;
    font-size: 18px;
}
.bg img{
    width: 30%;
    padding-left: 55%;
    padding-top: 8%;
}
.name h1{
    font-family: poppins;
    font-size: 40px;
    margin: 0px;
    letter-spacing: 3px;
    color: #292922;
}
.cv-btn{
    width: 150px;
    height: 45px;
    display: flex;
    letter-spacing: 1.5px;
    font-size: 20px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    color: #ffffff;
}
.cv-btn:hover{
    background-color: #2c4d12;
    color: #E2ECEE;
    transition: all ease 0.4s;
}
.social{
    position: absolute;
    left: 50px;
    bottom: 50px;
    display: flex;
}
.social a{
    margin: 6px 12px;
}
.social i{
    color: rgb(18,17,17,0.4);
    font-size: 18px;
}
.social a:hover i{
    color: #17d1ac;
    transition: all 0.3s ease 0s;
}
.arrow{
    align-self: end;
    width: 50%;
    height: 15%;
    margin-bottom: 4em;
    position: absolute;
    bottom: 0%;
    left: -3%;
    border-right: 1px solid rgba(41,41,41,0.3);
}
.arrow::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 11px 0px 11px;
    border-color: #292929 transparent transparent transparent;
    right: -11px;
    bottom: -2px;
}
#about{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5% 0px 5%;
}
.about-text{
    font-family: calbri;
    width: 500px;
}
.about-text h1{
    font-size: 2rem;
    color: #17d1ac;
}
.about-text h2{
    font-size: 1.4rem;
    color: #ffffff;
    font-weight: 400;
}
.about-text h1,h2{
    margin: 0;
    padding: 0;
}
.about-text p{
    font-size: 1.2rem;
    color: rgba(251, 251, 251, 0.90);
}
.about-text button{
    width: 180px;
    height: 40px;
    border-radius: 20px;
    letter-spacing: 0.2px;
    font-weight: 600;
    border: none;
    outline: none;
    background-color: #17d1ac;
}
.about-text button:hover{
    background-color: #ffffff;
    font-weight: 700;
    transition: all ease 0.4s;
}
.about-model img{
    width: 30%;
}
.form{
    width: 500px;
}
